[submodule "backend"]
	path = backend
	url = git@github.com:StevenDRiggs/cbinsights-newsletter-backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:StevenDRiggs/cbinsights-newsletter-frontend.git
